<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="description" content="this is a nodejs expressdemo"/>
    <meta name="author" content="Baslion"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel='stylesheet' href='/stylesheets/home.css'/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/home.js"></script>
  </head>
  <body>
    <div id="MenuHeade">
        <ul id="menuleft">
            <li><a href="#">主页</a></li>
            <li><a href="#">笔记</a></li>
            <li><a href="#">归档</a></li>
            <li><a href="#">关于我</a></li>
        </ul>
    </div>
    <div class="container main">
        <div class=row>
            <div class="col col-left">
                <div class="tab">
                    <i class="fa fa-reorder"></i> 归档分类
                </div>
                <a href="#">HTML/CSS</a>
                <a href="#">JavaScript</a>
                <a href="#">JAVA</a>
                <a href="#">JAVA WEB</a>
                <a href="#">SQL</a>
            </div>
            <div class="col col-middle">
                <p>
                    gsgsg
                    gsfsfg
                    sgsfd
                    gsfdgsgsfgsg
                    sgs
                </p>
            </div>
            <div class="col col-right">

            </div>
        </div>
    </div>
    <div id="footer">

    </div>
  </body>
</html>
